<template name="removeTestingData">
  <h1>This route is to remove testing data</h1>

  <h4 id={{status}}>
    Status: {{status}}
  </h4>
</template>

<template name="geneExpressionTesting">
  <h1>This route is to show geneExpression testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      {{#if count getGeneExpression}}
        {{#each getGeneExpression}}
          {{stringify this}}
        {{/each}}
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>
