<template name="removeTestingData">
  <h1>This route is to remove testing data</h1>

  <h4 id={{status}}>
    Status: {{status}}
  </h4>
</template>

<!-- TODO: combine geneExpressionTesting and expression2Testing -->
<!-- lol when -->
<template name="geneExpressionTesting">
  <h1>This route is to show GeneExpression testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      {{#if length getGeneExpression}}
        <table class="table">
          <thead>
            <tr>
              <th>gene_label</th>
              <th>study_label</th>
              <th>collaborations</th>
              <th>sample_label</th>
              <th>quantile_counts</th>
              <th>quantile_counts_log</th>
              <th>raw_counts</th>
              <th>tpm</th>
              <th>fpkm</th>
            </tr>
          </thead>
          <tbody>
            {{#each getGeneExpression}}
              <tr>
                <td>{{gene_label}}</td>
                <td>{{study_label}}</td>
                <td>{{collaborations}}</td>
                <td>{{sample_label}}</td>
                <td>{{checkUndefined values.quantile_counts}}</td>
                <td>{{checkUndefined values.quantile_counts_log}}</td>
                <td>{{checkUndefined values.raw_counts}}</td>
                <td>{{checkUndefined values.tpm}}</td>
                <td>{{checkUndefined values.fpkm}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>

<template name="expression2Testing">
  <h1>This route is to show Expression2 testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      {{#if length getExpression2}}
        <table class="table">
          <thead>
            <tr>
              <th>gene_label</th>
              <th>study_label</th>
              <th>collaborations</th>
              <th>sample_label</th>
              <th>quantile_counts</th>
              <th>quantile_counts_log</th>
              <th>raw_counts</th>
              <th>tpm</th>
              <th>fpkm</th>
            </tr>
          </thead>
          <tbody>
            {{#each getExpression2}}
              <tr>
                <td>{{gene_label}}</td>
                <td>{{study_label}}</td>
                <td>{{collaborations}}</td>
                <td>{{sample_label}}</td>
                <td>{{checkUndefined values.quantile_counts}}</td>
                <td>{{checkUndefined values.quantile_counts_log}}</td>
                <td>{{checkUndefined values.raw_counts}}</td>
                <td>{{checkUndefined values.tpm}}</td>
                <td>{{checkUndefined values.fpkm}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>

<template name="studyTesting">
  <h1>This route is to show Studies testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      <h3>Studies</h3>
      {{#if length getStudies}}
        <table id="studies" class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Patient_IDs</th>
              <th>Sample_IDs</th>
            </tr>
          </thead>
          <tbody>
            {{#each getStudies}}
              <tr>
                <td>{{id}}</td>
                <td>{{sorted Patient_IDs}}</td>
                <td>{{sorted Sample_IDs}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}

      <h3>Clinical_Info</h3>
      {{#if length getClinicalInfo}}
        <table id="Clinical_Info" class="table">
          <thead>
            <tr>
              <th>Study_ID</th>
              <th>Patient_ID</th>
              <th>Sample_ID</th>
            </tr>
          </thead>
          <tbody>
            {{#each getClinicalInfo}}
              <tr>
                <td>{{Study_ID}}</td>
                <td>{{Patient_ID}}</td>
                <td>{{Sample_ID}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>

<template name="isoformExpressionTesting">
  <h1>This route is to show IsoformExpression testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      {{#if length getIsoformExpression}}
        <table class="table">
          <thead>
            <tr>
              <th>transcript_label</th>
              <th>gene_label</th>
              <th>study_label</th>
              <th>collaborations</th>
              <th>sample_label</th>
              <th>quantile_counts</th>
              <th>quantile_counts_log</th>
              <th>raw_counts</th>
              <th>tpm</th>
              <th>fpkm</th>
            </tr>
          </thead>
          <tbody>
            {{#each getIsoformExpression}}
              <tr>
                <td>{{checkUndefined transcript_label}}</td>
                <td>{{checkUndefined gene_label}}</td>
                <td>{{checkUndefined study_label}}</td>
                <td>{{checkUndefined collaborations}}</td>
                <td>{{checkUndefined sample_label}}</td>
                <td>{{checkUndefined values.quantile_counts}}</td>
                <td>{{checkUndefined values.quantile_counts_log}}</td>
                <td>{{checkUndefined values.raw_counts}}</td>
                <td>{{checkUndefined values.tpm}}</td>
                <td>{{checkUndefined values.fpkm}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>

<template name="contrastTesting">
  <h1>This route is to show Contrast testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      {{#if length getContrasts}}
        <table class="table">
          <thead>
            <tr>
              <th>contrast_label</th>
              <th>contrast_version</th>
              <th>description</th>
              <th>a_name</th>
              <th>a_samples</th>
              <th>b_name</th>
              <th>b_samples</th>
            </tr>
          </thead>
          <tbody>
            {{#each getContrasts}}
              <tr>
                <td>{{contrast_label}}</td>
                <td>{{contrast_version}}</td>
                <td>{{description}}</td>
                <td>{{a_name}}</td>
                <td>
                  <ol class="list-group">
                    {{#each a_samples}}
                      <li class="list-group-item">{{study_label}}-{{patient_label}}-{{sample_label}}</li>
                    {{/each}}
                  </ol>
                </td>
                <td>{{b_name}}</td>
                <td>
                  <ol class="list-group">
                    {{#each b_samples}}
                      <li class="list-group-item">{{study_label}}-{{patient_label}}-{{sample_label}}</li>
                    {{/each}}
                  </ol>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>

<template name="geneAnnotationTesting">
  <h1>This route is to show GeneAnnotation testing data</h1>

  {{#if Template.subscriptionsReady}}
  <div id="data">
    {{#if length getAnnotations}}
      <table class="table">
        <thead>
          <tr>
            <th>gene_label</th>
            <th>study_label</th>
            <th>collaborations</th>
            <th>sample_label</th>
            <th>gistic_copy_number</th>
          </tr>
        </thead>
        <tbody>
          {{#each getAnnotations}}
            <tr>
              <td>{{gene_label}}</td>
              <td>{{study_label}}</td>
              <td>{{collaborations}}</td>
              <td>{{sample_label}}</td>
              <td>{{checkUndefined gistic_copy_number}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      No data
    {{/if}}
  </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>

<template name="signatureTesting">
  <h1>This route is to show Signature testing data</h1>

  {{#if Template.subscriptionsReady}}
    <div id="data">
      {{#if length getSignatures}}
        <table class="table">
          <thead>
            <tr>
              <th>signature_label</th>
              <th>signature_version</th>
              <th>description</th>
              <th>algorithm</th>
              <th>features_type</th>
              <th>features</th>
              <th>link_label</th>
            </tr>
          </thead>
          <tbody>
            {{#each getSignatures}}
              <tr>
                <td>{{signature_label}}</td>
                <td>{{signature_version}}</td>
                <td>{{description}}</td>
                <td>{{algorithm}}</td>
                <td>{{features_type}}</td>
                <td>
                  <ol class="list-group">
                    {{#each features}}
                      <li class="list-group-item">{{feature_label}}|{{value}}|{{p_value}}|{{false_discovery_rate}}</li>
                    {{/each}}
                  </ol>
                </td>
                <td>{{link_label}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        No data
      {{/if}}
    </div>
  {{else}}
    <div class="relative-spinner">
      {{> spinner}}
    </div>
  {{/if}}
</template>
