[submodule "webapp/packages/primary-collections"]
	path = webapp/packages/primary-collections
	url = https://github.com/UCSC-MedBook/primary-collections
[submodule "webapp/packages/wrangler-collections"]
	path = webapp/packages/wrangler-collections
	url = https://github.com/UCSC-MedBook/wrangler-collections
