<template name="editSubmission">
  {{print "editSubmission this:" this}}

  <div class="content-wrapper">
    {{#if this}} {{! if no data, invalid WranglerDocuments _id in URL }}

      {{> submissionFileList}}

      {{> fileUploader}}

      {{> reviewWranglerDocuments}}

      {{> submitSubmission}}
    {{else}}
      {{! loading handled in the router }}
      {{> pageNotFound}}
    {{/if}}
  </div>
</template>

<template name="submissionFileList">
  <!-- TODO: pull out uploader from Telescope post, put in package -->
  <h2>Upload files</h2>
  {{#each files}}
    <div class="input-group">
      <div class="form-control">
        <i class="glyphicon glyphicon-file"></i>
        <span>
          {{file_name}}: {{status}}
        </span>
        {{#if error_description}}
          <span class="error-description">
            Error: {{error_description}}
          </span>
        {{/if}}
      </div>
      <a href="#" class="remove-this-file input-group-addon btn btn-default">
        Remove
      </a>

    </div><!-- /input-group -->
  {{/each}}
</template>

<template name="fileUploader">
  <!-- add from locally -->
  <span class="btn btn-default btn-file">
    Add files...
    <input id="upload-files-input" type="file" multiple>
  </span>

  <!-- add from the the web -->
  <form class="add-from-web-form">
    <!-- <input type="text" name="text" placeholder="Type to add new tasks" /> -->
    <div class="input-group">
      <input name="urlInput" type="text" class="form-control"
          placeholder="Enter URL here">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          Add from the web
        </button>
      </span>
    </div><!-- /input-group -->
  </form>
</template>

<template name="reviewWranglerDocuments">
  <h2>Review Objects</h2>

  <div class="flex-container">
    {{> reviewSuperpathwayDocuments}}
    {{> reviewMutationDocuments}}
    <!-- other review object types here -->
  </div>
</template>

<template name="submitSubmission">
  {{! TODO: only show in blue if every file is done processing }}
  {{! TODO: only show in blue if every subscription is ready }}
  {{! TODO: add git commit message }}
  <button id="submit-all-data" type="button" class="btn btn-primary">
    Submit data
  </button>
</template>

<template name="rowValidation">
  <!-- {{print "rowValidation this:" this}} -->
  {{#if isValid}}
    OK
  {{else}}
    {{#each invalidKeys}}
      {{name}}: {{type}}
    {{/each}}
  {{/if}}
</template>

<template name="noDataForTable">
  No data for this object type.
</template>

<template name="reviewSuperpathwayDocuments">
  <div class="component-box">
    <h3 style="margin-top: 0px;">Superpathway</h3>
    <div class="component-box">
      <h4>Options</h4>
      {{#if Template.subscriptionsReady}}
        {{#autoForm id="superpathway-options" schema=superpathwaySchema
            resetOnSuccess=false}}
          <!-- TODO: hide update if there are no superpathways -->
          {{> afQuickField name="update_or_create" options="allowed"
              firstOption="(Create new or update existing)"}}
          {{#if updateCreateSelected}}
            {{! has options for both text and select }}
            {{> afQuickField name="name" type=nameType
                options=superpathwayOptions
                placeholder="Enter name"
                firstOption="(Select superpathway name)"}}

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    Apply
                  </button>
                </div>
          {{/if}}
        {{/autoForm}}
      {{else}}
        <div class="relative-spinner">
          {{> spinner}}
        </div>
      {{/if}}
    </div>
    <div class="component-box">
      <h4>Superpathways</h4>
      {{> tabular table=TabularTables.superpathways
          selector=superpathwaySelector
          class="table table-striped table-bordered table-condensed"}}
    </div>
    <div class="component-box">
      <h4>Elements</h4>
      {{> tabular table=TabularTables.network_elements
          selector=elementsSelector
          class="table table-striped table-bordered table-condensed"}}
    </div>
    <div class="component-box">
      <h4>Interactions</h4>
      {{> tabular table=TabularTables.network_interactions
          selector=interactionsSelector
          class="table table-striped table-bordered table-condensed"}}
    </div>
  </div>
</template>

<template name="reviewMutationDocuments">
  <div class="component-box">
    <h3 style="margin-top: 0px;">Mutations</h3>
  </div>
</template>
