<template name="editSubmission">
  {{print "editSubmission this:" this}}

  {{#if this}} {{! if no data, invalid WranglerDocuments _id in URL }}

    {{> submissionFiles}}

    {{> reviewWranglerDocuments}}

    {{> listErrorsAndSubmit}}
  {{else}}
    {{! loading handled in the router }}
    {{> pageNotFound}}
  {{/if}}
</template>

<template name="submissionFiles">
  <h2>Files</h2>

  <ul class="list-group">
    {{#each files}}
      <li class="list-group-item {{fileContextualClass}}">
        <h5 class="list-group-item-heading">
          <i class="glyphicon glyphicon-file"></i>

          {{file_name}}

          <span class="pull-right">
            <button class="remove-this-file btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </h5>

        <p class="list-group-item-text">
          {{#unless compare status "done"}}
            <span class="blank-glyphicon-to-left">
              {{#if compare status "error"}}
                Error: {{error_description}}
              {{else}}
                {{status}}
              {{/if}}
            </span>
          {{/unless}}
        </p>
      </li>
    {{/each}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <span class="btn btn-default btn-file">
            Add local files...
            <input id="upload-files-input" type="file" multiple>
          </span>
        </div>
        <div class="col-md-6">
          <form class="add-from-web-form">
            <!-- <input type="text" name="text" placeholder="Type to add new tasks" /> -->
            <div class="input-group">
              <input name="urlInput" type="text" class="form-control"
                  placeholder="Enter URL here">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  Add from the web
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div>
      </div>
    </li>
  </ul>
</template>

<template name="listErrorsAndSubmit">
  {{#if hasErrors}}
    <h2>Errors</h2>
    <ul>
      {{#each errors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{! TODO: only show in blue if every file is done processing }}
  {{! TODO: add git commit message }}
  <button id="submit-submission" type="button" class="btn btn-primary">
    Submit data
  </button>
</template>
