<template name="reviewWranglerDocuments">
  <h2>Review</h2>

  {{print "editSubmission this:" this}}
  {{#if classifySubmissionType this._id}}
    <div class="flex-container">
      {{#if getPublishedCount "type_superpathway"}}
        {{> reviewSuperpathwayDocuments}}
      {{/if}}

      {{#if getPublishedCount "type_mutations"}}
        {{> reviewMutationDocuments}}
      {{/if}}

      {{#if getPublishedCount "type_gene_expression"}}
        {{> reviewGeneExpression}}
      {{/if}}

      {{#if getPublishedCount "type_rectangular_gene_expression"}}
        {{> reviewRectangularGeneExpressionDocuments}}
      {{/if}}

      {{! else have span plus button to add that type }}
    </div>
  {{else}}
    {{> submissionTypeNotDefined}}
  {{/if}}
</template>

<template name="reviewSuperpathwayDocuments">
  <div class="documents-from-collection">
    <h4>Elements</h4>
    {{> tabular table=TabularTables.superpathway_elements
        selector=elementsSelector
        class="table table-striped table-bordered table-condensed"}}
  </div>

  <div class="documents-from-collection">
    <h4>Interactions</h4>
    {{> tabular table=TabularTables.superpathway_interactions
        selector=interactionsSelector
        class="table table-striped table-bordered table-condensed"}}
  </div>
</template>

<template name="reviewMutationDocuments">
  <div class="documents-from-collection">
    <h4>Mutations</h4>
    {{> tabular table=TabularTables.mutations
        selector=mutationsSelector
        class="table table-striped table-bordered table-condensed"}}
  </div>
</template>

<template name="reviewGeneExpression">
  <div class="documents-from-collection">
    {{#if Template.subscriptionsReady}}
      <div class="panel panel-default">
        <div class="panel-heading">Gene expression data</div>
        {{#if count sampleNormalization}}
          <table class="table">
            <thead>
              <tr>
                <th>Sample label</th>
                <th>Normalization</th>
                <th>Gene count</th>
              </tr>
            </thead>
            <tbody>
              {{#each sampleNormalization}}
                {{#with contents}}
                  <tr>
                    <th scope="row">{{sample_label}}</th>
                    <td>{{normalization}}</td>
                    <td>{{gene_count}}</td>
                  </tr>
                {{/with}}
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="panel-body">
            <p>No data</p>
          </div>
        {{/if}}
      </div>

      {{#if count geneLabelMaps}}
        <div class="panel panel-default">
          <div class="panel-heading">Gene label mapping</div>

          <table class="table">
            <thead>
              <tr>
                <th>Used gene label</th>
                <th>Global gene label</th>
              </tr>
            </thead>
            <tbody>
              {{#each geneLabelMaps}}
                {{#with contents}}
                  <tr>
                    <th scope="row">{{old_label}}</th>
                    <td>{{new_label}}</td>
                  </tr>
                {{/with}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}

      {{#if count sampleLabelMaps}}
        <div class="panel panel-default">
          <div class="panel-heading">Sample label mapping</div>

          <table class="table">
            <thead>
              <tr>
                <th>Sample label</th>
                <th>Sample UUID</th>
              </tr>
            </thead>
            <tbody>
              {{#each sampleLabelMaps}}
                {{#with contents}}
                  <tr>
                    <th scope="row">{{sample_label}}</th>
                    <td>{{sample_uuid}}</td>
                  </tr>
                {{/with}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}
    {{else}}
      {{> spinner}}
    {{/if}}
  </div>
</template>

<template name="reviewRectangularGeneExpressionDocuments">
  <div class="documents-from-collection">
    <h4>Sample labels</h4>
    {{> tabular table=TabularTables.sample_labels
        selector=sampleLabelSelector
        class="table table-striped table-bordered table-condensed"}}
    <h4>Gene labels</h4>
    {{> tabular table=TabularTables.gene_labels
        selector=geneLabelSelector
        class="table table-striped table-bordered table-condensed"}}
  </div>
</template>

<template name="rowValidation">
  <!-- ellipsis "rowValidation this:" this}} -->
  <!-- {{#if isValid}}
    OK
  {{else}}
    {{#each invalidKeys}}
      {{name}}: {{type}}
    {{/each}}
  {{/if}} -->
</template>

<template name="submissionTypeNotDefined">
  <div class="well">
    {{#if hasDocuments}}
      Multiple submission types detected:
      <ul>
        {{#each getSubmissionTypes}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      Please submit each type of new document seperately.
    {{else}}
      Upload files to continue
    {{/if}}
  </div>
</template>
