<template name="listSubmissions">
  <h2 class="page-header">Submissions</h2>
  <div class="list-group">
    <a id="create-new-submission" href="#" class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      Create a new submission
    </a>
    {{#each submissions}}
      <div class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </div>
    {{/each}}
  </div>
</template>

<template name="submissionActions">
  {{#if compare status "editing"}}
    <a href="{{pathFor 'editSubmission' submission_id=_id}}">
      Edit
    </a>
    <a href="#" class="delete-submission">Delete</a>
  {{/if}}
  {{#if compare status "validating"}}
    <a href="{{pathFor 'editSubmission' submission_id=_id}}">
      View
    </a>
    <a href="#" class="cancel-validation">Cancel validation</a>
  {{/if}}
  {{#if compare status "writing"}}
    <a href="{{pathFor 'editSubmission' submission_id=_id}}">
      View
    </a>
  {{/if}}
  {{#if compare status "done"}}
    <a href="{{pathFor 'editSubmission' submission_id=_id}}">
      View
    </a>
  {{/if}}
</template>
