<template name="listSubmissions">
  <h2 class="page-header">Submissions</h2>
  <div class="list-group">
    <a id="create-new-submission" href="#" class="list-group-item">
      <span class="glyphicon glyphicon-plus"></span>
      Create a new submission
    </a>
    {{#each submissions}}
      {{> submissionListItem}}
    {{/each}}
  </div>
</template>

<template name="submissionListItem">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">
      {{sinceCreated}}
      {{> submissionActions}}
    </h4>
    <p class="list-group-item-text">
      {{#if Template.subscriptionsReady}}
        {{#if length wranglerFiles}}
          <h5>Files</h5>
          {{#each wranglerFiles}}
            <span>{{blob_name}}</span><br />
          {{/each}}
        {{else}}
          No files
        {{/if}}
      {{else}}
        <div class="relative-spinner">{{>spinner}}</div>
      {{/if}}
    </p>
  </div>
</template>

<template name="submissionActions">
  <span class="pull-right">
    <span class="badge">{{status}}</span>
    <a href="{{pathFor 'editSubmission' submission_id=_id}}"
        class="btn btn-xs btn-primary">
      <span class="glyphicon glyphicon-edit"></span>
      {{editOrView}}
    </a>
    {{#if compare status "editing"}}
      <a href="#" class="delete-submission btn btn-xs btn-warning">
        Delete
      </a>
    {{/if}}
  </span>
</template>
