<template name="reviewObjectType">
  <!-- {{print "reviewObjectType this:" this}} -->
  {{#if hasDocumentsForMe}}
    <div class="component-box">
      <h4>{{title}}</h4>
      {{#if Template.subscriptionsReady}}
        {{> reactiveTable settings=dynamicSettings}}
      {{else}}
        <div class="relative-spinner">
          {{> spinner}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="rowValidation">
  <!-- {{print "rowValidation this:" this}} -->
  {{#if isValid}}
    OK
  {{else}}
    {{#each invalidKeys}}
      {{name}}: {{type}}
    {{/each}}
  {{/if}}
</template>
