<template name="chooseUpload">
  {{print "chooseUpload this:" this}}
  {{!-- TODO: name this something better --}}

  {{> loginButtons }}
  <hr />

  <div style="margin: 50px;">
    {{#if hasCreatedSubmission}}
      {{> reactiveTable collection=mySubmissions settings=tableSettings}}
    {{else}}
      No submissions created :(
    {{/if}}

    <h3>
      <a href="{{ pathFor 'uploadNew' wranglerSubmissionId='create' }}">
        Create a new submission
      </a>
    </h3>
  </div>
</template>

<template name="listFiles">
  {{! used by reacitveTable to render the files column}}
  <ul>
    {{#each files}}
      <li>
        <span>{{file_name}}: {{status}}</span>
      </li>
    {{/each}}
  </ul>
</template>

<template name="submissionActions">
  {{#if compare status "editing"}}
    <a href="{{pathFor 'uploadNew' wranglerSubmissionId=_id}}"
        class="edit-submission">
      Edit
    </a>
    <a href="#" class="delete-submission">Delete</a>
  {{/if}}
  {{#if compare status "validating"}}
    <a href="#" class="cancel-validation">Cancel validation</a>
  {{/if}}
  {{#if compare status "writing"}}
    Too late now!
  {{/if}}
</template>
