<template name="listSubmissions">
  {{print "listSubmissions this:" this}}
  {{! TODO: name this something better }}

  {{> loginButtons }}
  <hr />

  <div style="margin: 50px;">
    {{#if hasCreatedSubmission}}
      {{> tabular table=TabularTables.listSubmissions
          class="table table-striped table-bordered table-condensed"}}
    {{else}}
      No submissions created :(
    {{/if}}

    <h3>
      <a href="{{ pathFor 'editSubmission' wranglerSubmissionId='create' }}">
        Create a new submission
      </a>
    </h3>
  </div>
</template>

<template name="listFiles">
  <ul>
    {{#each files}}
      <li>
        <span>{{file_name}}: {{status}}</span>
      </li>
    {{/each}}
  </ul>
</template>

<template name="submissionActions">
  {{#if compare status "editing"}}
    <a href="{{pathFor 'editSubmission' wranglerSubmissionId=_id}}"
        class="edit-submission">
      Edit
    </a>
    <a href="#" class="delete-submission">Delete</a>
  {{/if}}
  {{#if compare status "validating"}}
    <a href="#" class="cancel-validation">Cancel validation</a>
  {{/if}}
  {{#if compare status "writing"}}
    Too late now!
  {{/if}}
</template>
